<table>
  <thead>
  <tr>
    <th *ngFor="let entityCol of config['entityCols']">
      {{entityCol.title}}
    </th>
    <th *ngFor="let classCol of config['classCols']">{{classCol.title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entity of data, let i = index">
    <td *ngFor="let entityCol of config['entityCols']"
        [ngSwitch]="entityCol.type">
      <app-input-text
        *ngSwitchCase="'text'"
        [(ngModel)]="entity[entityCol.property]"
        [placeholder]="entityCol.placeholder"
      ></app-input-text>
      <app-input-mobile
        *ngSwitchCase="'tel'"
        [(ngModel)]="entity[entityCol.property]"
        [placeholder]="entityCol.placeholder"
        [pattern]="entityCol.pattern"
      ></app-input-mobile>
      <app-input-select
        *ngSwitchCase="'select'"
        [(ngModel)]="entity[entityCol.property]"
        [options]="entityCol.values"
      ></app-input-select>
    </td>
    <td *ngFor="let classCol of config['classCols']"
        [ngSwitch]="classCol.type">
      <div *ngSwitchCase="'button'">
        <app-button
          *ngFor="let action of classCol['actions']"
          (buttonClick)="action.do(entity)"
        >
          {{action.name}}
        </app-button>
      </div>
      <div *ngSwitchCase="'text'">
        <span *ngFor="let text of classCol['values']">{{text}}</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
