@import "variables";
@import "mixins";

button {
  margin-left: $input-horizontal-margin;
  padding: $input-vertical-padding $input-horizontal-padding;
  background: $input-background-color;
  @include input-border();
}

.input-disabled {
  @include input-disabled();
}
